html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

@theme {
  --width-max-container: 50rem;
  --color-bg-100: hsl(240, 3%, 12%);
  --color-bg-200: hsl(30 3.3% 11.8%);
  --color-bg-300: hsl(30 2.6% 7.6%);
  --color-fg-100: hsl(50 9% 73.7%);
  --color-fg-200: hsl(48 33.3% 97.1%);
  --color-fg-300: hsl(48 4.8% 59.2);

  --breakpoint-xs: 420px;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply capitalize text-fg-200 tracking-tight;
    font-family: var(--font-manrope), serif;
  }
  p {
    @apply leading-normal;
  }

  a {
    @apply text-fg-200 flex gap-2;
  }
}

/* h2 {
  @apply font-bold tracking-tight text-lg;
} */

@layer components {
  .wrapper {
    width: min(88%, var(--width-max-container));
    margin-inline: auto;
  }
}

body {
  @apply text-fg-100 bg-bg-100 font-medium leading-tight tracking-tight;
  overscroll-behavior: none;
  font-family: var(--font-inter), sans-serif;
}
